<nav class="flex items-center justify-between flex-wrap bg-dark-blue p-6">
    <div class="flex md:items-center flex-shrink-0 text-white">
        <span class="text-5xl">
            <h1 class=" ml-4 md:ml-0 white text-center lg:text-left">EaZiRecipes</h1>
        </span>
    </div>
    <div class="w-full flex justify-end flex-grow sm:flex items-center sm:w-auto">
        <div>
            <a id="logout"
                class="inline-flex text-sm px-4 py-2 leading-none cursor-pointer
               text-white gloria font-bold p-1.5 mt-2 hover:bg-blue focus:outline-none focus:ring-2 focus:ring-blue-100 focus:ring-opacity-50 ">
                Logout
            </a>
        </div>
    </div>
</nav>


{{!-- Sidebar & Main Content Container --}}
<div class="container-fluid flex-wrap md:flex">
    {{!-- Sidebar Content --}}
    <div class="md:w-1/4 md:h-screen w-screen bg-white">
        <button type="button" id="myBtn"
            class="gloria w-full inline-flex justify-center text-dark-blue text-xl p-1.5 mt-2 bg-blue-100 hover:bg-blue focus:outline-none focus:ring-2 focus:ring-blue focus:ring-opacity-50 rounded-lg">
            Add Recipe
        </button>
    </div>

    {{!-- Main Content --}}
    <div class="md:w-3/4 md:h-screen w-screen gloria bg-white overflow-auto">
        {{!-- Card Container for Recipes --}}
        <div class="container mt-5 mx-auto px-2">
            <div class="flex-wrap md:flex">
                {{#each Recipes as |Recipes|}}
                {{> recipe-info Recipes}}
                {{/each}}
            </div>
        </div>
    </div>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="fixed z-10 inset-0 overflow-y-auto hidden" id="modal">
        <div
            class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center lg:block sm:flow-root sm:m-10 sm:mx-2 sm:p-4 lg:p-0">
            <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                <div class="absolute inset-0 bg-dark-blue opacity-50"></div>
            </div>
            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block lg:align-middle lg:h-screen" aria-hidden="true"></span>
            <div class="inline-block align-bottom rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                <div class="bg-blue-100 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-xl leading-6 text-dark-blue gloria pb-3" id="modal-headline">
                                Add Recipe
                            </h3>
                            <div class="mt-2 modal">
                                {{!--Form--}}
                                <form class="add-recipe-form space-y-3">
                                    <div>

                                        <label for="recipe-item" class="text-dark-blue rounded-lg mt-10 mb-52"></label>
                                        <input type="text" id="recipe_name" class="rounded-lg bg-blue-light"
                                            name="recipe_name" />Recipe Name
                                    </div>

                                    <div>
                                        <label for="recipe-des" class="text-dark-blue rounded-lg mt-10 mb-52"></label>
                                        <input type="text" id=" recipe_description" class="rounded-lg bg-blue-light"
                                            name="recipe_description" />Recipe Description
                                    </div>

                                    <div>
                                        <label for="recipe-instr" class="text-dark-blue rounded-lg mt-10 mb-52"></label>
                                        <input type="text" id=" recipe_instructions" class="rounded-lg bg-blue-light"
                                            name="recipe_instructions" />Recipe Instructions
                                    </div>

                                    <div>
                                        <label for="recipe-ingr" class="text-dark-blue rounded-lg mt-10 mb-52"></label>
                                        <input type="text" id=" recipe_ingredients" class="rounded-lg bg-blue-light"
                                            name="recipe_ingredients" />Recipe Ingredients
                                    </div>
                                    <div>
                                        Category
                                        <br>
                                        <label for="category" class="text-dark-blue"></label>
                                        <select id="categories" name="category_name"
                                            class="text-dark-blue gloria rounded-lg bg-blue-light">
                                            <option value="1">Breakfast</option>
                                            <option value="2">Lunch</option>
                                            <option value="3">Dinner</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sm:ml-7 sm:mt-2">
                    <button type="button" id="addRecipe"
                        class="ml-5 my-3 inline-flex rounded-lg shadow-sm px-4 py-2 text-dark-blue bg-blue-light gloria text-base hover:bg-blue focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-xs">
                        Submit
                    </button>
                    <button type="button" id="close"
                        class="my-3 inline-flex rounded-lg shadow-sm px-4 py-2 text-dark-blue bg-blue-light gloria text-base text-gray-700 hover:bg-blue focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-xs">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>