<div class="dashboardbg min-h-screen flex flex-col">
    <div class="container opacity-70 max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <h1 class="mb-8 text-3xl text-center">Sign up</h1>
        <form class="signup-form text-center space-y-10 sm:ml-24 md:ml-48 lg:ml-24 xl:ml-36 pt-10">

            <div>
                <H6 class="gloria text-center text-sm text-dark-blue pb-3">Username</H6>
                <label for="username-signup"></label>
                <input type="text"
                    class="gloria placeholder-gray-500 placeholder-opacity-50 border-b-2 rounded-sm focus:outline-none focus:ring-2 focus:ring-blue focus:ring-opacity-50 rounded-lg w-48 sm:w-76 md:w-96"
                    name="fullname" id="username-signup" placeholder="User Name" />

            </div>

            <div>
                <H6 class="gloria text-sm text-dark-blue pb-3">Email</H6>
                <label for="email-signup"></label>
                <input type="text"
                    class="gloria placeholder-gray-500 placeholder-opacity-50 border-b-2 rounded-sm focus:outline-none focus:ring-2 focus:ring-blue focus:ring-opacity-50 rounded-lg w-48 sm:w-76 md:w-96"
                    name="email" id="email-signup" placeholder="Email" />

            </div>

            <div>
                <H6 class="gloria text-sm text-dark-blue pb-3">Password</H6>
                <label for="password-signup"></label>
                <input type="password"
                    class="gloria  placeholder-gray-500  placeholder-opacity-50 border-b-2 rounded-sm focus:outline-none focus:ring-2 focus:ring-blue focus:ring-opacity-50 rounded-lg w-48 sm:w-76 md:w-96"
                    name="fullname" id="password-signup" placeholder="Enter Password" />

                <button
                    class="gloria text-blue-light bg-dark-blue text-sm p-1.5 mt-2 hover:bg-blue focus:outline-none focus:ring-2 focus:ring-blue focus:ring-opacity-50 rounded-lg"
                    type="submit">Sign Up</button>

                <div class="new-user text-sm lg:pt-10 pt-5 text-dark-blue text-center">
                    Already have an account with us?
                    <br>
                    Click <a href="/" class="text-green-600">here</a> to login!
                </div>

            </div>
    </div>
    </form>
    <div>
    </div>
</div>
</div>